__pycache__/
#tutorial/
.vscode/
.codecarbon.config
.vscode/settings.json
tutorial/exemplo-1/exemplo-2.cc
objects
main
CMakeLists.txt
cmake-build-debug
.ideia
t5/.idea
/.idea/.gitignore
/.idea/vcs.xml
/FinalProject/cmake_install.cmake
/FinalProject/CMakeCache.txt
/FinalProject/CMakeFiles/
*.puml
/FinalProject/docs/old_diagrams/
